[2018-05-11 06:02] nilslice opened #2 "Include check for reserved values in Enums"
Currently only reserved field names and IDs are checked for, but Enum types can also reserve values: https://developers.google.com/protocol-buffers/docs/proto3#enum_reserved

Implementation should be fairly similar to protolock's `NoUsingReservedFields` rule function.

[2018-05-11 06:17] nilslice opened #3 "Add flag option to ignore paths in init / commit / status"
It could be desirable to only track your own .proto files, and not those included in directories such as `vendor`, other 3rd party libraries, etc.

an option such as `--ignore=vendor,lib/include,extern` could enable users to have this flexibility.

[2018-05-13 07:01] nilslice opened #7 "Add more support and test maps"
https://developers.google.com/protocol-buffers/docs/proto#maps

[2018-05-13 07:01] nilslice opened #8 "Add more support and test oneof"
https://developers.google.com/protocol-buffers/docs/proto#oneof

[2018-05-13 22:45] nilslice opened #10 "proto.lock file cross OS compatibility"
Within the lock file, the current OS filepath separator is used to compare entries. This will be an issue where a unix system writes and checks in a lock file, and a windows system runs a status check (or vice versa).

Instead of using the current system's filepath separator, replace it with something like `:` or another character that couldn't be used in a valid filepath. This would need to be re

[2018-05-14 06:15] #10 closed

[2018-05-14 16:25] celrenheit opened #12 "Nested messages conflicts"
Hello,

I think there is an issue when using nested messages that have the same name. The following example should trigger a conflict:

[code]

This gives me the following error:
[code]

[2018-05-14 16:38] nilslice commented on #12
Interesting -- thank you for reporting! This is definitely a bug. I will need to update the tests to contain nested messages. Can I ask, what did you expect the output to be?

You mention:

What would you expect the conflict to be?

[2018-05-14 17:19] nilslice opened #13 "add hints/comments to indicate alternate parser behavior"
First comment indicator would be something alike `// @protolock:skip` to be annotated at the level of a file, message, service, or enum (?).

See: https://github.com/envoyproxy/envoy/issues/3368 for more detail.

[2018-05-14 17:53] celrenheit commented on #12
I expected it to not have a conflict

[2018-05-14 17:54] nilslice commented on #12
@celrenheit - ok, perfect, that's what I figured but was confused (should vs. shouldn't in your comment).

Is this something you'd like to try fixing? No problem if not, just didn't want to duplicate efforts.
Thanks again!

[2018-05-14 20:13] celrenheit commented on #12
Yep sorry for the confusion.
I'll try to have a look into it whenever I have time

[2018-05-15 06:58] nilslice commented on #12
@celrenheit - would you please try #16? I believe it should fix this issue.

[2018-05-15 18:25] nilslice commented on #12
I've tested this internally enough to feel confident in the fix. @celrenheit - I'm going to merge, but if you get around to it, please update your binary and test as well. I'd would appreciate it!

[2018-05-15 18:25] #12 closed

[2018-05-15 18:42] #13 closed

[2018-05-15 19:42] celrenheit commented on #12
This fixed the issue but by ignoring nested messages.
I've submitted PR #17 which also checks to not reuse reserved fields in nested messages.

[2018-05-15 22:42] nilslice opened #20 "auto-ignore paths/files in .gitignore"
Wondering if this is a feature anyone wants, or if there is a better idea for cases where:

- other proto-based tools (i.e. `protoc`) are kept in a repo but ignored by git. these tools contain their own .proto files that, most likely should be ignored.

[2018-05-16 16:41] noel-yap opened #21 "Include architecture in asset names in https://github.com/nilslice/protolock/releases"
Could the architecture be added to the asset names in https://github.com/nilslice/protolock/releases so it's more obvious whether or not they can be used as is? It might also make sense to be consistent with `${GOOS}` and `${GOARCH}` (eg `darwin` rather than `macos`).

[2018-05-16 17:48] nilslice commented on #21
They sure can - that's a good idea. Take a look at the `release.sh` - that's where the names would be defined.

[2018-05-18 16:46] #7 closed

[2018-05-18 16:47] nilslice commented on #7
Added in #22

[2018-05-21 16:22] noel-yap commented on #21
Can you review https://github.com/nilslice/protolock/pull/23?

[2018-05-21 16:53] nilslice commented on #21
@noel-yap - yes, I will check it out by end of day today! thanks for submitting this

[2018-05-22 16:26] nilslice opened #25 "test proto2 syntax for determining support"

[2018-05-25 02:59] nilslice commented on #21
Fixed in #24.

[2018-05-25 02:59] #21 closed

[2018-05-25 17:34] nilslice commented on #8
Fixed in #28.

[2018-05-25 17:34] #8 closed

[2018-05-31 00:00] noel-yap commented on #3
This is especially important if the proto files import third-party proto files since those proto files are downloaded to some build, cache, or other ephemeral directory which leads to `init` and `commit` generating different `proto.lock` contents depending on whether or not the proto files have been processed.

[2018-05-31 16:35] nilslice commented on #3
@noel-yap good point. Do you think the example shown in my initial comment covers the case you mentioned?

I also have #20 open which expands on the ignored protos using .gitignore (though would probably also make sense to consider other VCS ignore files as well).

[2018-05-31 16:55] noel-yap commented on #3
I would say the example is sufficient in that what I had said can be extrapolated from it. A more direct example would have something like `--ignore=build` (Gradle places build artifacts into a `build` directory).

I'm personally kinda wary about tying this project to any specific VCS tool. Perhaps specifying the ignore file would be good enough if they abide by similar syntax in those files (eg A

[2018-05-31 17:21] nilslice commented on #3
Ok, great, thanks. If it's not clear, the example shows a comma-separated list of paths or filenames to ignore. Just wanted to make sure that was pointed out. Especially since you're starting work on this feature (many thanks by the way).

I agree. Although, there would really only be reason to support Git, Mercurial, and SVN in my opinion, and that doesn't seem *too* bad. The reason to auto-ignor

[2018-05-31 18:22] noel-yap commented on #3
Yeah, understood that `--ignore` takes in a comma-separated list. I was assuming it involved only directories. Glad you mentioned specific files can be ignored, too.

Yeah, more real-life scenarios would be valuable input. Thanks.

I didn't mean to imply that the VCS ignore file feature wouldn't have value to anyone and everyone -- just not much value for my own needs (BTW, I'm creating a Gradle p

[2018-06-01 00:54] noel-yap commented on #3
https://github.com/nilslice/protolock/pull/29

[2018-06-01 15:34] #3 closed

[2018-06-01 15:40] nilslice commented on #3
@noel-yap, can't wait to see it -- if you don't mind, we can link it on the README. I think it would be quite helpful to others.

[2018-06-01 16:56] noel-yap commented on #3
Mind? I'm all for it! We'll likely test it out for a while at work before open-sourcing it.

[2018-06-01 17:00] nilslice commented on #3
@noel-yap awesome! that sounds great.

[2018-06-04 16:45] nilslice opened #34 "use protobuf instead of json for proto.lock file"
I'm wondering if there is interest in using binary protobufs as the lock file encoding, rather than JSON.

The main benefit would be serialization speed (each status check will deserialize the proto.lock file, and if it is large, can slow down the tool). Additionally, `protolock` itself could be used to guarantee no breaking changes to its own internal lock model.

I personally have not found that

[2018-06-21 19:09] #2 closed

[2018-06-21 19:10] nilslice commented on #2
Fixed in #42.

[2018-06-25 13:54] sagikazarmark opened #43 "Release asset naming"
Currently release asset names look like this: `protolock.20180621T191216Z.darwin-amd64.tgz`

It's quite hard to build tooling around this naming convention. It would be nice to have the version in the file name instead of the build date.

WDYT?

[2018-06-25 23:11] nilslice commented on #43
@sagikazarmark - good thinking.. I would be happy to consider any changes you propose. Unless the timestamp is specifically needed by others, I think a version number would suffice in its place.

cc/ @noel-yap for guidance & recommendation as well.

[2018-06-26 00:06] noel-yap commented on #43
AFAIK, there have been no actual releases but now it occurs to me that I may not have been looking in the right place for any released artifacts. Are there publicly published released artifacts? If so, where are they?

If there are, IMO, it would make sense to follow https://semver.org/ and even https://keepachangelog.com/en/1.0.0/ and to document the release process (including publishing to some

[2018-06-26 00:18] nilslice commented on #43
@noel-yap I believe this is in reference to the way the distributed pre-built binaries are named:

https://github.com/nilslice/protolock/releases

[2018-06-26 00:55] noel-yap commented on #43
Yes, I understand that. What are the steps for those binaries to be published there? Can, for example, someone insert malicious source, build it, then publish the binaries to that location without committing the code?

Is there something like Maven Central or Bitbucket for Golang? Currently, we're building the binaries on premises and publishing to a private Artifactory instance.

I didn't get muc

[2018-06-26 11:33] utrack opened #44 "Weird flag parser"
Hi, just found out about the project - that's a neat tool!
I've just tried to add it to our Makefile and encountered a problem with flag parser.
Command `protolock --ignore=vendor status` seems to be parsed as
[code]
It looks like a bug to me esp since `ignore` should be comma-delimited.
`--ignore="vendor" status` behaves like that as well.

[2018-06-26 14:59] nilslice commented on #44
Hey @utrack -

Did you try using comma-separatee values in the ignore option? i.e.

`protolock status --ignore=""`

[2018-06-26 15:01] nilslice commented on #44
Sorry for the close & reopen of the issue. I'm on mobile at the moment 😁

[2018-06-26 16:06] utrack commented on #44
No problem :)
Yeah, I've tried it and it works as a workaround.

[2018-06-26 16:08] nilslice commented on #44
Ok great. Please note that this is intended behavior. The ignore flag is part of the options flagset which isn't parsed until the subcommand is.

[2018-06-26 16:08] #44 closed

[2018-06-26 19:40] nilslice commented on #43
@noel-yap this is great feedback -- and it's fantastic to have someone with release engineering experience contributing to the project (I admittedly have very little personal experience in that domain).

Currently, the only process is manually running the `release.sh` script locally to cross compile. I have been stringent to use the same commit to build the binaries as the tag (version used for th

[2018-06-26 19:56] noel-yap commented on #43
I had thought of generating a SHA file but it occurred to me that it has the same issue. One can make a file change, build the artifact and the SHA file, publish them, and not commit/push the code change.

I want to be clear that I'm not implying you can't be trusted (I don't think you're reading into this this way but want to be sure). It sounds to me that you understand these processes are put i

[2018-06-29 17:45] nilslice commented on #43
@noel-yap this might be a solution for the automated build and release: https://goreleaser.com/

[2018-06-29 22:56] sagikazarmark commented on #43
Knowing the version number and the URL scheme is usually enough to just upgrade the version in a script or a dockerfile. Having a timestamp in the URL makes that impossible without manually checking the releases page every time.

Golang has nice dependency management solutions that can lock to exact commits of other dependencies. Personally I don't like including the dependencies in the VCS when w

[2018-06-29 23:56] noel-yap commented on #43
The legwork of putting in place a good release process for `protolock`. I
don't know enough to choose among the various tools, etc. It sounds like
you and Steve are in a better position to put the process into place.

On Fri, Jun 29, 2018 at 3:56 PM Márk Sági-Kazár <notifications@github.com>
wrote:

[2018-06-30 00:01] nilslice commented on #43
I'd like to investigate GoReleaser for the automated releases. I just need to ensure that there is a checksum option to satisfy the needs of this PR: https://github.com/envoyproxy/envoy/pull/3703#discussion_r197842287

@sagikazarmark - if you have some tips on integration, please let me know. Also, to get back to your original question, I think that if we just replace the timestamp with the releas

[2018-06-30 05:00] noel-yap commented on #43
I'm OK with this so long as there's an audit trail from the binary back to the source.

[2018-07-12 20:13] noel-yap commented on #43
FWIW, https://github.com/npm/npm/issues/21202 is the kind of stuff I would
like the process to prevent.

On Fri, Jun 29, 2018, 17:01 Steve Manuel <notifications@github.com> wrote:

[2018-07-26 15:08] nilslice opened #46 "skip hint should also prevent members from being compared"
currently, `// @protolock:skip` hints prevent a proto member such as a message from being added to the proto.lock file. But if a hint was added *after* the proto.lock file was written, then `protolock` thinks the message was just removed and several conflicts are reported.

consider skipping the message in the comparison step in addition to the serialization step.

[2018-08-03 19:39] twoism opened #47 "Nested messages not locking"
It seems that nested messages are not currently support unless I have missed something.

**Repro**
[code]

[code]

**Change the the `name` field identifier.**

[code]
Running `protolock status` will exit cleanly. Is this a known issue or is there planned support for nested messages? I can take a stab at adding it if not.

Thanks!

[2018-08-03 23:58] nilslice commented on #47
Hey @twoism - thank you for reporting this! I was sure nested messages were accurately accounted for, but without being able to run through your example at the moment, I'll have to get back to you later.

If you wanted to see where some of this was implemented, check out the tests around here: https://github.com/nilslice/protolock/blob/master/rules_test.go#L803-L820

If you end up finding the root

[2018-08-14 22:52] nilslice commented on #47
@twoism - no pressure, just wanted to know if you anticipated having time or interest in digging in here. If not, I will take a closer look this week.

Thanks!

[2018-10-09 22:51] nilslice commented on #47
@twoism - to keep you apprised on this, I have a branch with a partial fix. There are a few rule funcs that do properly check for nested message changes, but a couple that do not. So, I'll push the branch and ping you once it's up for review and if you'd like to test against your proto set that would be awesome. Thanks again for pointing this out!

[2018-10-18 09:53] cpeeyush opened #52 "Rule "No Removing Fields Without Reserve" Should not break while renaming an existing field"
Let's say I have this proto definition.

[code]

And if I change the **required string name = 1** . to **required string full_name = 1** then when I use `status`  command then i get a warning regarding rule **No Removing Fields Without Reserve**.

As per my understanding this should not happen because I am keeping the tag number same (and even the data type).

[2018-10-18 16:46] nilslice commented on #52
I'd have to double check, but you can disable this by disabling strict mode. Run protolock with the `--strict=false` and you should get the desired results.

What you describe is a breaking API change, however, as a client calling a generated method by the old name will no longer receive the value you intend them to unless they change their code.

It most likely won't cause any exceptions, but the

[2018-10-18 16:50] cpeeyush commented on #52
@nilslice I have tried it with `--strict=false` but still I get the same error because as per the documentation also `--strict=false` will not have an impact on this.

_What you describe is a breaking API change, however, as a client calling a generated method by the old name will no longer receive the value you intend them to unless they change their code._

 -  As per my understanding client cod

[2018-10-18 16:55] nilslice commented on #52
You're right - sorry, I'm on mobile only at the moment and misread the docs.

After dealing with large protobuf projects for a while, I have seen code break from a name-only change and find that this rule is important to follow. But if you think it should really be treated differently I would consider a PR, though would need to get feedback from my team and the other contributors who may already a

[2018-10-30 20:32] milton0825 opened #54 "Allow users to add customized rules"
Users may want to register their own customized rules (for example, enforce no field removal entirely for some protobuf messages) and ideally those customized rules should live out side the space of protolock repository.

Currently protolock supports checks based on the rules defined in https://github.com/nilslice/protolock/blob/master/rules.go#L11

We may need a way to register customized checks.

[2018-10-30 20:55] nilslice commented on #54
@milton0825 - this is interesting, especially after taking a closer look at your closed PR. I see what you mean where the ability to do more custom "comparison" of a `Protolock` from the `proto.lock` (current) and the parsed set (updated) of proto files would benefit teams with more specific needs.

At first glance, it seems like this would be very difficult to support in a dynamic way (e.g. using

[2018-10-30 22:43] milton0825 commented on #54
@nilslice thanks for the feedback. I think we can refactor the code a bit and expose a function that takes customized rules from user and check if changes pass those rules.

[2018-10-31 19:59] nilslice commented on #52
@cpeeyush - would adding this rule to be disabled when `--strict` is false make more sense to you?

I'm happy to do this, as I see your point regarding true "breaking" changes. I typically don't run `--strict` mode false. If you'd like to contribute it I would welcome the PR. Otherwise, I'm glad to make the change myself if we agree.

[2018-10-31 20:01] nilslice commented on #52
Also, just noticed that you're using `proto2` syntax, for which this tool doesn't claim to make any support guarantees. It probably works fine since the proto parser used supports the syntax and abstracts some of the differences (I think). I just wanted to point that out in case it becomes an issue in the future.

[2018-10-31 22:52] cpeeyush commented on #52
@nilslice Yes, I agree to disable this check with  `--strict` false.
I would love to deep dive and submit a PR but right now I am not getting time to do that and honestly, I will take more time to modify your `go lang` code because it will be my first encounter with the `go lang`. So if you can do this change that would be awesome.

[2018-10-31 22:55] nilslice commented on #52
Ok, no problem. Thanks for opening the issue and making the suggestion.

Out of curiousity, what language(s) are you using protocol buffers with primarily?

[2018-10-31 23:01] cpeeyush commented on #52
I am primarily using protocol buffers with `java` and trying to use your `protolock` library in my in-house schema registry to validate any schema change during the CI builds.

[2018-11-01 18:01] november-yankee opened #59 "Absolute fully qualified packages incorrectly produces empty `{}` block in `proto.lock` file."
[code]

`protolock init` will produce:
[code]

Upon `protolock status`, the empty `{}` blocks will error with:
[code]

[2018-11-01 19:49] nilslice commented on #59
@november-yankee - interesting, thanks for reporting!

I think this has to do with the parser, which recently added support for these "dot"-prefixed names:
https://github.com/emicklei/proto/commit/31ca1a37608053a92355be293b13f08fe25e526e

We're building with `v1.6.4`, maybe an upgrade will fix... what do you think?

Btw, I'm working on plugin support so `protolock` users can add their own rules in

[2018-11-01 20:05] november-yankee commented on #59
Sure, ping me for a review but just to let you know, I'm less than a noob with Golang.

[2018-11-01 20:15] nilslice commented on #59
Ha! No review is too small :)

Also, being a Java user, it would be great to get your feedback on how the plugin development process would work.

I've added a Go package `protolock/extend` to make it easy for Go developers to make a plugin (all it really does is read JSON from stdin, do processing on protolock objects, and write JSON to stdout)..

[2018-11-01 21:36] nilslice commented on #59
@november-yankee, #60 has a fix. Do you typically build this from source? I can upload a binary for you to try out, so you don't need to muck with the modules stuff.. let me know what platform you need it built for if that's preferable.

[2018-11-01 21:50] nilslice commented on #59
[Archive.zip](https://github.com/nilslice/protolock/files/2540249/Archive.zip)

^ Contains the tarballs of all platforms w/ usually release

[2018-11-01 22:37] nilslice commented on #54
Closing as #58 solves.

[2018-11-01 22:37] #54 closed

[2018-11-01 22:48] nilslice commented on #52
@cpeeyush - thanks for the response, that's good to know!

As I started to make the change for this, and re-read your initial issue, I realize I had misunderstood the situation you encountered, and the `--strict` mode set to `false` should still be your solution.

The reason is that your name change is _okay_ to do, but you should reserve the old name so that it doesn't happen to provide a consume

[2018-11-01 22:48] #52 closed

[2018-11-05 14:54] nilslice commented on #59
This was just merged to master and I will cut a new release later this morning.

[2018-11-05 14:54] #59 closed

[2018-11-05 22:38] november-yankee opened #65 "Strings using single quotes not parsed correctly."
I only have a description of the issue.

Someone reported a `.proto` file with `reserved 'is_success', 'error_response'`. The `proto.lock` file that's generated has:

[code]

If double quotes are used in the `.proto` file, the generated file looks better.

[2018-11-06 00:21] nilslice commented on #65
Do you know if single-quoted reserved field names are valid syntax?

It is a bug to fill `proto.lock` with empty reserved names, and I have a fix to PR upstream to the proto parser lib that protolock depends on. However, that parser doesn't handle or recognize these single-quoted reserved names at all.

Can you verify that those files successfully compile?

[2018-11-06 00:34] november-yankee commented on #65
Hmm, according to that grammar, there shouldn't be any quotes unless I'm missing something.

[2018-11-06 00:35] nilslice commented on #65
@november-yankee - sorry, you beat me to the punch while updating..

[2018-11-06 00:54] nilslice commented on #65
@november-yankee I have opened up an issue with the parser lib and will keep you updated. Feel free to follow along here: https://github.com/emicklei/proto/issues/94

[2018-11-08 22:57] nilslice commented on #65
Updates have moved to this PR, https://github.com/emicklei/proto/pull/96.

[2018-11-09 22:45] november-yankee commented on #59
Thanks. Sorry for not reviewing.

[2018-11-11 17:52] nilslice commented on #65
Fixed in #66. Thanks for reporting, @november-yankee!

[2018-11-11 17:52] #65 closed

[2018-11-19 15:43] nilslice commented on #34
With the release of plugins using JSON between processes, I'm closing this issue. Happy to revisit if others have opinions on the subject.

[2018-11-19 15:43] #34 closed

[2018-11-19 15:43] #20 closed

[2018-11-25 15:43] aroch opened #69 "Add support for Field Options"
We would like to use protolock with plugins which would validate specific field options.
I saw that Message Options are supported, but couldn't find support for Field Options.
Are there any plans to add support for Field Options to be saved also in the proto.lock file?
If not and you like the feature, we would be glad to implement and contribute.

[2018-11-25 16:43] nilslice commented on #69
@aroch - the Field Option support is not currently planned, but if you'd like to PR it would be happily welcomed!

Note that @milton0825 implemented the Message Option feature (see [here](https://github.com/nilslice/protolock/pull/61/files)), and may be able to offer some direction if need be. Please don't hesitate to reach out to me as well if you have any questions.

We have been pretty diligent

[2018-11-30 20:29] rodaine opened #75 "Removing entire message triggers NoRemovingFieldsWithoutReserve"
For the following test file:

[code]

Running `protolock init`, then deleting message `Bar` entirely. Then running `protolock status`.

**Expected Behavior**

No error.

**Actual Behavior**

[code]

When run with `--strict false`, the errors do not appear.

---

Would be glad to do a PR if there's consensus that these errors are erroneous.

[2018-11-30 20:30] rodaine commented on #75
cc @btc

[2018-11-30 21:23] nilslice commented on #75
@rodaine - I see how these errors being reported adds some confusion.. they're not _really_ errors, but the tool is demonstrating expected behavior IMO. In order to provide the tool with the updated lock info, you would need to run a `protolock commit` after deleting the message.

However, if this doesn't meet your needs I'd be happy to consider a PR. I just don't see at the moment how changes to

[2018-12-02 09:33] aroch commented on #69
fixed by #71

[2018-12-02 09:33] #69 closed

[2018-12-02 09:37] aroch opened #76 "commit command doesn't run plugins"
If --force option is not used, the 'commit' command runs 'status' before doing the commit.
If the user uses plugins as part of the 'status' command (with the --plugins option), I think he would expect that the same plugins would be run as part of the 'commit' command with same plugins option, so no validation is missed.

[2018-12-03 22:32] rodaine commented on #75
Sorry let me clarify more!

If a message is unused in any capacity (not part of a RPC, not a field type), deleting the entire message is not a breaking change. Of course this is a breaking change in code, but so is marking a field as reserved. Once you update, you'd have to remove references to it. Removing a message (assuming protoc compiles everything else) is not a binary incompatible change; i

[2018-12-04 01:15] nilslice commented on #75
I see, thanks for the additional details 🙂

To me, it seems that you'd want to run `protolock commit --force` to re-declare the "locked" state of your proto files.  `--force` indicates that the errors should be ignored, since you intend to overwrite the existing lock file regardless of the missing message fields previously reported as errors.

A successive run of `protolock status` should report n

[2018-12-04 01:19] nilslice commented on #75
Ah I missed re: the running on CI...

The "commit" would be the responsibility of a user before pushing the code. How is the message removed from your codebase? Code-gen?

If you are automatically removing the message from a file, then I'd assume you can automatically run the "commit" as well.

[2018-12-04 16:19] rodaine commented on #75
Ultimately we do want to allow users to force changes to the lockfile, but our current setup doesn't even give them access to the file. The details aren't all that important, but what you are saying is the solution we want to implement for anyone to force a breaking change. 😅

Where I want to move this discussion to is whether or not removing a message is considered a breaking change. If it is, th

[2018-12-04 16:59] nilslice commented on #75
I agree that the `NoRemovingFieldsWithoutReserve` rule could be modified to detect wholesale message removal and report it more accurately. This could be gated by the `--strict` flag so that message removal can be suppressed when not in strict mode (which could solve this for your CI, I believe?)

My stance is that an API _is_ changed in a breaking way if a message (that _was_ in a production rele

[2018-12-04 17:14] rodaine commented on #75
I'll work on the PR to have the error message be more correct. And at the end of the day it's not a huge deal, just philosophically different opinion on the matter.

Removing a message is not a breaking change. Removing a field (without reservation), which uses that message as its type, is. That's where I think we have a fundamentally different idea about what is considered a breaking change. Remo

[2018-12-05 01:13] nilslice commented on #76
Hey @aroch - do you think that it is a bug for plugins to be run for commit (with or without --force) or expected behavior?

Let me know what you think the correct behavior is and we can figure out a solution. Thanks!

[2018-12-05 12:23] aroch commented on #76
I think that if as part of the commit command you run the status part internally and fail if any warnings appear, then if the -plugins flag is passed for both status and commit, it should be taken into account.
Currently, the -plugins flag is ignored during commit but not during status. I think the expected behavior should be to run the plugins also during commit.
What do you think?

[2018-12-12 11:10] aroch opened #78 "conflicts in built-in rules will fail the execution of plugins"
Hi,

When running with plugins, I noticed that when I get warnings from the built-in rules, it fails during the execution of the plugins and exits with failure.

For example, when running without plugins:
[code]

Then, if running with a plugin:
[code]

 I didn't test this, but what I believe is happening is that as plugins run in their own goroutines, the execution continues and reaches the `handl

[2018-12-12 18:45] nilslice commented on #78
Will take a look asap! Thanks for reporting, @aroch. I'll also take this time to dig into your other open issue at #76.

[2018-12-16 22:14] aroch commented on #78
@nilslice I can't reconstruct this specific issue... probably some issue I had.
It does fail though, if you SetDebug to true and then the additional prints break the JSON format.

[2019-01-01 23:00] #76 closed

[2019-01-06 06:41] sagikazarmark commented on #43
Sorry, I lost in the jungle of Github emails.

Having the tag in the file name is okay, actually a good practice. The proposed format looks good to me. 👍

[2019-01-08 21:28] sidtaduri opened #86 "Considering a configuration file for protolock"
Has a generic configuration file been considered for the tool (in addition to command line args)? It seems like a nice to have, especially for our workflow. We could have a similar setup prior to invoking protolock, but I'm happy to open a PR for a more generic solution if this aligns with the project's goals.

[2019-01-08 23:12] nilslice commented on #86
Hi @sidtaduri - thanks for this proposal. I don't have a strong opinion about the use of a configuration file, but I'd be interested to know what kind of things you'd like to include. It's worth mentioning @btc here, given their recent work on making `protolock` more configurable as well. @btc, if you have thoughts on this, please feel free to share.

@sidtaduri - if you don't mind, would you post

[2019-01-09 20:21] rodaine commented on #75
Sorry for the delayed response (Holidays 😅)! Will get to a patch in the coming weeks, but feel free to mention that Lyft is using it.

[2019-01-15 13:08] petervandenbroek commented on #47
@nilslice Do you have any update on this fix?
We use nested messages a lot and it would really help to ensure no breaking changes can be made to those.

Thanks in advance :)

[2019-01-16 15:19] viswajithiii opened #87 "Allow users to ignore specific built-in rules by name"
I would like to be able to specify which built-in rules to ignore on the command line. Currently, the closest mechanism that exists is the `strict` flag, but the rules that disables aren't the ones I would like to disable. (I'm facing a situation where I want to prevent proto message breakages, but I'm okay with RPC compatibility breakages.)

If you agree this would be good to have, I'm happy to s

[2019-01-16 20:22] nilslice commented on #87
Hey @viswajithiii -

Before considering the PR you've suggested, would you be open to trying a comment annotation on your RPCs? Currently, the `@protolock:skip` hint will ignore a message from being saved to the lock file, and thus is ignored when comparing versions.

Here's an example:
https://github.com/nilslice/protolock/blob/c6b429565d9c1fed2fe31460667b4023a315b78d/testdata/test.proto#L55-L56

[2019-01-21 00:15] viswajithiii commented on #87
Hey @nilslice, thanks for your response! Thanks for the suggestion about `@protolock: skip` -- I wasn't aware of this piece of functionality, and it's helpful. However, it doesn't solve this specific problem -- I think having to put this annotation above every RPC would be inconvenient and unnecessarily pollute our proto files.

Further, this is not the only use case I have in mind for this. Anoth

[2019-01-21 23:31] sagikazarmark commented on #43
This should work for CircleCI and Goreleaser:

https://github.com/banzaicloud/banzai-cli/blob/master/.circleci/config.yml
https://github.com/banzaicloud/banzai-cli/blob/master/.goreleaser.yml

[2019-01-24 19:17] nilslice commented on #43
Awesome -- will dig in once I'm back from vacation. Thanks!

[2019-02-01 15:40] evanlknapp opened #88 "Add support for custom RPC Options"
I would like to use protolock with plugins i intend on making that validate custom RPC options. I saw that Field and Message Options are now recently supported in #61 and #71 . Are there any plans to support custom RPC options in the proto.lock file?  If not let me know and I can work on contributing. Thanks!

[2019-02-01 17:50] nilslice commented on #88
Hi @evanlknapp -

I currently don't have plans for it, but truthfully it's not a feature I had thought of! If you'd like to PR something, I'd be grateful.

Let me know if you have any trouble. If you'd like to share some examples of these custom options prior to beginning the work, so we can ensure that it is right for `protolock`, please do. Although, if these custom options are the same as the F

[2019-02-01 18:12] evanlknapp commented on #88
@nilslice for some of our internal logic we decorate the resulting services with more information such as intended HTTP method, endpoint path, and permissions.  So it would look something like this:

service MyTestService {
    rpc TestSearch (SearchRequest) returns (SearchResponse) {
       option method = "GET";
       option path = "/search";
    }
}

If you approve, it looks like most of the w

[2019-02-01 19:55] nilslice commented on #88
That sounds great -- thank you!

[2019-02-04 20:51] evanlknapp commented on #88
@nilslice I created #89. Let me know if there is something else I need to meet your standards. Thanks!

[2019-02-05 14:10] evanlknapp commented on #88
Awesome, thank you!

[2019-02-06 21:57] evanlknapp commented on #88
@nilslice would it be possible to schedule a release for sometime in the next few weeks so I could grab a release with my changes? It would be great but if there are bigger changes coming don't worry about it.

[2019-02-06 22:14] nilslice commented on #88
@evanlknapp - you bet. I'll plan on doing a release before the end of this week.

[2019-02-07 14:04] evanlknapp commented on #88
@nilslice thanks!

[2019-02-07 14:39] evanlknapp opened #91 "Add Support for RPC Comments"
I would like to use protolock with a plugin that I plan to use to verify custom logic in my .proto files. Specifically, for some of our RPC's we have an internal way of decorating them as "Incubating" (under development) and therefor we want to have them skipped when doing validation as they may be in flux a bit.  My intention was to mark each of these RPC's with a "@protolock:skip" comment and ma

[2019-02-07 21:04] nilslice commented on #91
@evanlknapp - I see, though I'm not sure about storing literal comments in the `proto.lock` file.. does adding a no-op `option` to the RPC work instead? You don't need to use the option in your codebase, but rather to decorate and check the RPC for catching in your plugin.

I would love to have support for `// @protolock:skip` on the RPCs (and every other data type in addition to message). If that

[2019-02-07 21:45] evanlknapp commented on #91
@nilslice I think I may have confused you.  Here's an example of what I have.

[code]
So my intention is to make sure that any "incubating" RPC's are left out of the proto.lock file. So my custom rule would basically say that if it finds any RPC's with the "incubating" option throw a warning suggesting to add the "@protolock:skip" comment.

However more and more as I think about this, this doesn't

[2019-02-11 15:48] nilslice commented on #88
@evanlknapp - new release is available! https://github.com/nilslice/protolock/releases/tag/v0.10.1

Thank you for your help. I'll keep the #91 issue open as a reminder to include more data types in the `// @protolock:skip` hint logic.

[2019-02-11 16:04] evanlknapp commented on #88
@nilslice awesome. Thanks again!

[2019-02-14 18:55] nilslice opened #93 "gRPC Conf talk mention: collaborators, companies, use-cases, etc"
Hey -- excited to share that [I'll be speaking about `protolock` at the first gRPC Conf](https://twitter.com/nilslice/status/1093956581602013194)! I wanted to mention the support and many contributions made from community members and if possible, the companies using the tool and if you have plugins or workflow use cases that could be briefly mentioned as well.

If you're open to it, please either

[2019-02-14 18:56] nilslice commented on #93
_(sorry to abuse the issue tracker like this -- not sure of a better way to contact you all)_

[2019-02-14 19:50] evanlknapp opened #94 "Ignore Option Not Working on Windows"
I was using protolock locally when I started having issues with ignoring directories.  I found eventually that the parse_test.go tests were failing for me on windows (with no local changes) and that stepping through the code things weren't behaving right.

I think I limited it down to this [line](https://github.com/nilslice/protolock/blob/ddda3438d08cd2a15c32f36c1b5c305bd08fbcc1/parse.go#L498) not

[2019-02-14 20:01] nilslice commented on #94
Ah, great catch. Blame it on my poor PR reviews :)

Would you like to submit a patch PR? Thank you for finding this issue!

[2019-02-14 22:15] evanlknapp commented on #94
Yeah no problem. I am not going to add any tests as the existing tests should be sufficient.

Here's my PR: #95

[2019-02-15 16:07] #94 closed

[2019-02-15 16:07] nilslice commented on #94
merged in #97!

[2019-02-15 16:37] evanlknapp commented on #94
@nilslice awesome! Thanks!

[2019-03-15 18:55] evanlknapp commented on #91
Hey @nilslice so I am circling back to this one to revisit the inclusion of comments. Generally I would agree with you about being skeptical about including comments in the `proto.lock` file, however my workplace has a use case.  So now that `required` as a keyword has been removed in `proto3` we have taken to indicating that a field for a message is required (mainly for our docs, as we enforce it

[2019-03-15 19:07] evanlknapp opened #99 "Add Support for Entry Level Options"
I am looking to add options at a file (Entry) level in protolock.  A lot of our protobuf files resemble the following:

[code]

In addition to general protobuf file options my workplace has custom options that are also used at a file  level.  We'd like to add rules to makes sure in our custom plugin that options don't change. Would this be something we can add to protolock.

[2019-03-15 19:24] nilslice commented on #99
Hey @evanlknapp - yes, this can definitely be added. Do you have bandwidth to consider a PR for it?

Thanks!

[2019-03-15 19:35] evanlknapp commented on #99
Yes definitely. I will work on it and get a PR to you soon.

[2019-03-15 19:41] nilslice commented on #91
@evanlknapp -

That is something we could certainly consider... If you have some time to take a stab at this, feel free. If you find a solution that meets your needs this way, we can merge it.

If not, I'm mainly concerned with the possibility of bloating file size, and needing to deserialize excess data in the form of comments. I understand your use case completely, but have to reject the inclusi

[2019-03-15 19:57] evanlknapp commented on #91
As an example:
Stable version:
[code]
Updated version:
[code]
I would like the updated version to show and error as it has added a required field saying something like: `Message "PersonMessage" added field "lastName" as a required field.`

[2019-03-20 13:40] lihalite opened #101 "Check if lockfile is up to date"
Currently protolock will tell you if you made a breaking change, but it doesn't have a way to tell you whether the lock file is up-to-date with the input Protobuf files. Would adding that as a flag to `status` or adding a new subcommand be acceptable?

While you currently can have it generate a new lock file and diff the files, that's not so stable.

[2019-03-20 14:28] nilslice commented on #101
That sounds pretty reasonable to me. How do you anticipate the output from running this to look?

Based on the desired output, maybe it should be the default when executing `status`... especially since the tool can't do it's job if you're not locking the inputs.

[2019-03-20 14:33] lihalite commented on #101
Printing a single warning message and exiting abnormally should be enough - showing a diff or reporting on the changes would probably be too noisy.

Having it as the default would be nice, though perhaps a breaking change? It might then also be convenient to set the status code differently if the lockfile is just out-of-date, so build/test system integrations can distinguish between the two.

[2019-03-20 15:54] nilslice commented on #101
100% agree!

I also agree with you here... maybe we can include it as a default, but choose to return a non-zero exit code only if some configuration flag is set? This way, it's not a breaking change, but can be included as a default so it is useful to all users right away. I'm not sold either way yet -- please let me know what you think based on what is optimally useful.

This might also be a goo

[2019-03-20 17:10] lihalite commented on #101
The flag sounds best. It looks like the CLI parsing would need a little refactoring, as currently all flags apply to all subcommands.

[2019-03-20 17:33] nilslice commented on #101
Ok, great -- yea if you want to go ahead, please do!

I believe the flag parsing can stay more-or-less the same, but the config struct should use a good "zero value" for the new flag, and used in the same way the other configuration flags are:
https://github.com/nilslice/protolock/blob/master/cmd/protolock/main.go#L62

This way it should simplify the eventual use of a config file and how it is par

[2019-03-20 21:12] nilslice commented on #87
@viswajithiii - I wanted to follow up on this, since I am starting to think about supporting an optional configuration file for protolock. Within this conf, it would be possible to disable any of the built-in rules (among other features).

I was wondering if you had come up with a solution for your initial issue or if you have some feedback/suggestions for a conf file? Thanks!

See #86 for some mo

[2019-03-21 19:54] evanlknapp commented on #99
@nilslice my PR is ready for review on #103

[2019-03-25 04:56] #93 closed

[2019-03-25 13:38] november-yankee commented on #93
Netflix uses it and have created a Gradle plugin for it (although it's not
open-sourced).

On Thu, Feb 14, 2019 at 10:55 AM Steve Manuel <notifications@github.com>
wrote:

[2019-03-26 14:14] evanlknapp commented on #99
@nilslice thanks for merging my PR. There is no super rush but when convenient it would be nice to get a release so I can take advantage of my fix from a while back and this enhancement. Thanks!

[2019-03-26 17:50] nilslice commented on #99
@evanlknapp - you bet! just need to get a minor update added in too, which I'd like to get in the same release. Should be up by EOD at the latest.

[2019-03-26 17:52] nilslice commented on #99
@evanlknapp, btw - I'd like to make this the last release which requires me to manually intervene after a new tag is added to the repo. If you're interested, I'll open an issue to track the work involved in automating releases using something like https://goreleaser.com/ - your feedback on how your integration process is done, and any contributions if interested, would be greatly appreciated!

[2019-03-26 20:41] nilslice commented on #99
@evanlknapp - v0.11.0 has been released 👍

[2019-03-26 20:41] #99 closed

[2019-03-26 20:48] evanlknapp commented on #99
@nilslice thanks a lot! As for doing some work into automating the release process, I cannot promise anything at this point. But I can try and look into it my spare time. I was looking into goreleaser and it looks promising.

[2019-03-26 20:58] nilslice commented on #99
@evanlknapp  - no worries! just hoping to come to a working process that covers 99% of folks' needs.

also, I released a quick patch for the latest... use v0.11.1 instead... sorry about that!

[2019-03-27 20:46] troshko111 opened #107 "Commit command no longer saves the lock under certain circumstances"
This change https://github.com/nilslice/protolock/commit/7c9188151bdf1b4015ccf397a7eb32dbd7287941#diff-57de67624b47e4a29ab98fbcc5904d81
introduced a bug when `commit` is used with `force` set to `false` (the default).

Previously committing an empty `json` proto lock would generate the proper proto lock file, now it does nothing.

Root cause:

[code]

Since the linked change, `status` always exits

[2019-03-27 20:49] nilslice commented on #107
@troshko111 - yes, thank you for reporting! There is a fix up at #106 to revert this. If you could, check it out and verify (as I have done) -- it would be helpful! I can merge and release immediately after your input.

[2019-03-27 20:49] #107 closed

[2019-03-27 20:56] troshko111 commented on #107
I'd be happy to verify, but can't find the binary artifact on that circle job for the PR.

[2019-03-27 20:57] troshko111 commented on #107
Oh I see you already released, trying.

[2019-03-27 21:00] nilslice commented on #107
@troshko111 - yes, sorry, due to the serious break I felt I should release the fix as soon as I had any confirmation (which @evanlknapp provided). If you find that there is still anything incorrect with the CLI behavior, please let me know 👍 Thanks!

[2019-03-27 21:01] nilslice commented on #107
:) soon, there will be a real release process... these releases are currently build by me running `./release.sh` from this repo, cross-compiled for various arch/OS, and uploaded to the release page.

If you have experience with these kind of automated release processes, it would be a great way to contribute to this project!

[2019-03-27 21:02] troshko111 commented on #107
Looks good to me (at least as far as the commit of an empty json file behavior, it's back to what it was).

Thanks for the prompt fix!

[2019-05-01 15:58] lihalite opened #108 "Cannot parse certain Protobuf files"
Definitions like the following fail to parse:

https://github.com/googleapis/googleapis/blob/316b54c401ab9bc08ed71cb362915b9e7a23bb05/google/ads/googleads/v0/common/ad_type_infos.proto#L127-L129

The underlying issue is in https://github.com/emicklei/proto, which doesn't expect that a type name can have spaces. (Perhaps this is a quirk of the official Protobuf implementation.)

[2019-05-01 20:02] nilslice commented on #101
added in #109 (from #102)

[2019-05-01 20:02] #101 closed

[2019-05-01 20:04] nilslice commented on #108
This is an interesting one! I'll see if there is an update to patch from emicklei/proto (possible we're on an older version of the library), or otherwise I can open an issue on that repo.

[2019-05-20 19:29] thespags opened #110 "Deterministic definition order."
For readability it would be nice if the  proto paths would sorted alphabetically

[code]

[2019-05-20 21:01] nilslice commented on #110
Hey @thespags -

Are you on the latest version? I believe this was introduced a couple releases ago.

[2019-05-21 16:19] thespags commented on #110
Let me upgrade the version and try it out. I'll update and close if that's the fix. Thanks!

[2019-05-21 17:13] rmichela commented on #110
I upgraded the maven protolock plugin to use 0.12.0. https://github.com/salesforce/proto-backwards-compat-maven-plugin/pull/4

[2019-05-22 20:12] thespags commented on #110
After upgrading to 0.12.0 we are seeing deterministic ordering based on the name. Looks good thanks!

[2019-05-22 20:12] #110 closed

[2019-06-07 13:28] lihalite commented on #108
Looks like it got fixed: https://github.com/emicklei/proto/issues/111

[2019-06-07 14:09] nilslice commented on #108
Excellent -- I'll update the deps and cut a new release ASAP. Thanks!

[2019-06-07 15:16] nilslice commented on #108
New release available: https://github.com/nilslice/protolock/releases/tag/v0.13.0

[2019-06-07 15:16] #108 closed

[2019-06-07 15:21] lihalite commented on #108
Thanks for the quick turnaround!

[2019-07-03 15:31] Fleshgrinder opened #112 "What are the differences to Uber‘s Prototool"
As a potential user I ask myself what the differences are to [Uber‘s Prototool](https://github.com/uber/prototool) which seems to be easier to use because it doesn‘t require the management of a lock file.

[2019-07-03 16:29] nilslice commented on #112
Prototool added support for backward compatibility checks recently, but I have not used it. I'm sure it's a great tool which offers _many_ more features than just compatibility. If you're already using it for compilation, and whatever else, I'd assume you can feel good sticking with it for compatibility checks too.

One thing `protolock` does that `prototool` seems to not support, is the use of [y

[2019-07-03 16:29] #112 closed

[2019-07-18 13:30] craynic opened #115 "use yaml for proto.lock to reduce diff"
We are managing hundreds of protos which result in a lock file with one hundred thousand lines. When we changed something, and commit the changes to the lock, a very large diff will be produced with many many lines changed, though in fact I only added a few files or fields. I think this is because the json file has many braces. The braces always match in diff, causing diff believes that the paths

[2019-07-18 17:33] nilslice commented on #115
@craynic - thank you for the suggestion! I too manage a project (for which this tool was created initially) that has a similar scale of protos to track. While YAML could be an alternative, I don't think the resulting "win" would be significant enough to make this kind of change. Truthfully, you should not be concerned with the lock file 99% of the time - just let `protolock` manage it and trust th

[2019-07-19 10:03] craynic commented on #115
Well, yaml may not be the best choice, but should be better than json.
For now, making the lock file in yaml may bring some benefits, but it will also bring break changes. I truely doubt if the benefits worth the changes. Maybe a compatibility layer is needed to let the old json lock file work.
For proto-buf, I don't think it's a good option. Most CVS track files by line, but proto files behaves l

[2019-07-22 17:38] nilslice commented on #115
@craynic - I appreciate the thought you've put into this, but after some additional review, I've decided to not consider a lock file format change. I only want to keep you informed so you don't do the work and anticipate the feature merged.

As your project continues to grow, please let me know if there are other issues. Also, ensure you are using the latest versions. There was a feature added a w

[2019-07-22 17:38] #115 closed

[2019-07-23 07:20] craynic commented on #115
Could you please provide the commit id for the feature about deterministic ordering? We've worked with many versions of protolock.

[2019-07-25 19:58] nilslice commented on #115
@craynic - it looks like this was the release:
https://github.com/nilslice/protolock/releases/tag/v0.10.0

[2019-07-31 01:26] wadejensen commented on #87
Would also be interested in being able to enable/disable rules by name.

#### Use case:
We represent schemas for analytics data sent as JSON, with proto schemas. Since analytics event data must maintain backwards compatibility with historical events, removing fields, [even when marking them as reserved](https://github.com/nilslice/protolock#no-removing-fields-without-reserve) is not allowed. If a

[2019-07-31 05:59] viswajithiii commented on #87
@nilslice I apologize, I completely missed your previous note, but got notified now that @wadejensen commented. An optional config file sounds like a _great_ way to go about this -- one that is flexible, and doesn't break backwards compatibility. I'd be happy to share my thoughts on any design you come up with. 🙂

[2019-07-31 06:46] wadejensen opened #116 "Plugin wiki readme json missing fields"
I'm writing a Scala plugin to implement a compatibility check. For some reason I wrote the structure of the plugin input from the wiki readme rather than the code. In the process of getting it working I found some differences between the JSON structure in the readme and what is sent by `protolock`.

It seems I can't fork the wiki, so I'll attach a patch to this issue (apparently as a text file bec

[2019-08-01 06:08] nilslice commented on #116
@wadejensen - thanks a lot for pointing this out! I will make the edit you've suggested. I'd be interested to see your Scala plugin if you're able to share!

[2019-08-01 06:12] nilslice commented on #87
@wadejensen, @viswajithiii -

I will revisit this over the next few days and propose a config design/implementation.  Will post back here with updates. Thanks!

[2019-08-01 23:53] wadejensen commented on #116
Its pretty rudimentary, but more than happy to share when I get a chance to clean out any work specific stuff, @nilslice.

[2019-08-29 01:37] rmichela opened #117 "Lock file does not record aggregate options with array values"
### Reproduction

1. Construct a [message with a field with a compound option with an array value](https://github.com/envoyproxy/protoc-gen-validate/blob/master/tests/harness/cases/numbers.proto#L10).
[code]
2. Run `protolock init`
3. Inspect `proto.lock`

### Expected
* Lock file tracks option values

### Actual
* Lock file tracks option presence and name, but value is missing.
[code]

[2019-08-29 16:33] nilslice commented on #117
Thanks for reporting, @rmichela - do you have a fix in mind or had this just popped up and you're looking for help?

I believe @aroch provided this feature, so maybe if we ask nicely :smile: he can take a look! Otherwise, I will have to carve out some time next week to dig in.

[2019-08-29 17:37] rmichela commented on #117
I don't have a fix in mind (yet). The issue came up while developing a protolock plugin for protoc-gen-validate. PGV makes heavy use of compound options.

[2019-08-31 21:52] aroch commented on #117
You're correct, I did not support compound options. I started working on a fix, but will need a bit more time to finalise and create a PR.

[2019-09-17 02:48] #117 closed

[2019-10-10 00:12] prernagoyal commented on #47
Hey @nilslice - Do we have an update on this?

Thanks!

[2019-10-10 03:30] nilslice commented on #47
@prernagoyal - nothing yet.. unfortunately it will take me some time before I can dig into this further. If you would like to help, modifying the existing tests to add cases where this fails when it is expected to succeed would be awesome.

[2019-10-16 15:14] nilslice commented on #47
@twoism - if you'd like to test, #122 has a fix for the nested message issue. Let me know if you'd like to run through your protos as a test case prior to merge!

Your initial example is now covered:
`CONFLICT: "Outer.Inner" field: "name" has a different ID: 2, previously 1 [test.proto]`

[2019-10-16 15:30] prernagoyal commented on #47
@nilslice  Would it help if I raise another PR based off of master which only modifies the existing tests to have nested messages and that those tests pass with the older version of the code even with changing the nested messages? We won't merge that PR though.

[2019-10-16 19:34] DarrienG opened #123 "Website incorrectly reports backwards compatibility with invalid proto files"
My guess is this is the proper place to post issues for the website protolock.dev If it isn't, feel free to point me somewhere else.

Go to protolock.dev, hit the init button. Make an incompatible change to the proto file (e.g. change `SERVICE_UNKNOWN = 3` -> `SERVICE_UNKNOWN = 9`) and then make the proto file incompatible, e.g. `s/rpc/dog/g` and it will mark it as valid.

This actually isn't the

[2019-10-21 03:35] nilslice commented on #123
@DarrienG -- thanks for reporting! I'll try to reproduce and then update the WASM binary to a version built with the latest `protolock` code.

Can you tell me a bit more about your environment? Which browser and OS (and their versions) are you using?

[2019-10-21 03:36] nilslice commented on #47
This has been fixed and released in [v0.15.0](https://github.com/nilslice/protolock/releases/tag/v0.15.0)!

[2019-10-21 03:36] #47 closed

[2019-10-21 15:15] DarrienG commented on #123
Glad I can help! I love the product.

It happens on Firefox v69/70 on macOS Catalina.

[2019-11-05 08:42] rashmi-ibm opened #125 "Error building protolock on ppc64le"
The below error appears when I try to build protolock repo on a ppc64le system.

Error:-
bash-4.4# go get -u github.com/nilslice/protolock/...
github.com/nilslice/protolock/cmd/protolock
/root/go/src/github.com/nilslice/protolock/cmd/protolock/plugins.go:147:20: undefined: strings.ReplaceAll
bash-4.4#

go version go1.9.1 linux/ppc64le

Need to generate the protolock file. Inputs around the issue w

[2019-11-09 08:31] nilslice commented on #125
@rashmi-ibm Can you install a more recent version of Go? Ideally you'd build protolock from the latest Go (go1.13), but you could use go1.12, which [introduced the `strings.ReplaceAll` func](https://golang.org/pkg/strings/#ReplaceAll).

[2019-11-09 08:34] nilslice commented on #125
or use Docker, by building an image with something like:

[code]

This exact script isn't working for me, but something similar may on the `ppc64le` target.

[2020-01-07 08:19] #125 closed

[2020-03-22 06:22] guyisra commented on #87
@nilslice any updates?

[2020-03-24 03:48] nilslice commented on #87
@guyisra I suppose a minimal, extensible option would be to read a `--config` path and only support a single config option for the time being...

[code]

And provide this config to the rule checking step (or create a `CompareWithConfig` func?), which has knowledge of the name of each rule as it is being run: https://github.com/nilslice/protolock/blob/c61398fecf0394e06ae52128553f3ead00d96251/parse.

[2020-04-07 02:50] agasparovic-sabre opened #126 "Processing a single file"
Hi there, thanks for a great tool! We're using pre-commit (pre-commit.com) to run checks before committing to my company's repo, and I'd love to integrate protolock to validate and commit changed .proto files.

Pre-commit is set up to pass filenames (either one at a time or a list, depending on what the tool can support) of modified files matching a pattern (like .proto) to a particular command-li

[2020-04-20 17:21] nilslice commented on #126
Hi @agasparovic-sabre, my apologies, but I am having some difficulty understanding the problem.

1. Does `protolock commit` break when passing an unused `<filename>` parameter?
2. Do you _need_ to check proto compatibility on a file-by-file basis?
3. Does `protolock status -uptodate` satisfy the second enhancement you mention?

[2020-04-21 16:36] agasparovic-sabre commented on #126
1. It doesn't break, but it doesn't do anything elther.
2. Yes, that's the idea - the Pre-Commit tool runs user-defined checks on files in a git commit (and can block the commit until the checks pass). So I'd like to:
  a. only `protolock commit` files in the git commit
  b. fail the commit if there's a validation error.
3. Oh thanks - that's helpful!

[2020-04-22 16:37] agasparovic-sabre commented on #126
Hi @nilslice, I thought of another reason why it would be helpful to process a single file at a time - I have a large git repository I'd like to use this with (a monorepo, in fact), which we normally use with sparse checkouts. That means only a portion of the repo is actually locally downloaded at any point. But we'd like to have a proto.lock file in the root for the whole repo, which means we nee

[2020-05-21 18:02] rodaine opened #127 "Enum aliases not supported"
Using protolock v0.15.0, with the following proto:

[code]

After committing the lockfile, and making the following (backwards compatible) changes:

[code]

Running `protolock status`, we get the following error:

[code]

[2020-05-21 18:07] rodaine commented on #127
For details on enum aliasing: https://developers.google.com/protocol-buffers/docs/proto3#enum

[2020-06-15 22:41] nilslice commented on #127
thanks for reporting, I will take a look asap. turns out I configured github to stop notifying me for _all_ repos? oops.

[2020-07-08 06:38] doudoutinghua opened #128 "Does protolock support proto2 ?"
when I remove a required field from the following file, protolock status is ok.

`syntax = "proto2";

message IdCard {
    reserved 1;
    reserved "id";
    //required string id = 1;
    required string name = 2;
    optional string addr = 3;
    required string log = 4;
}
`

[2020-07-08 18:11] nilslice commented on #128
The underlying proto parser supports Proto2, but `protolock` itself is not tested for any Proto2 support. I wouldn't count on it -- sorry!

[2020-07-08 18:11] #128 closed

[2020-08-03 17:27] nilslice commented on #127
quick update -- I haven't had a chance to really dig in here.. if anyone else feels like they want to give it a shot, please do!

adding the `help wanted` label

[2021-01-26 06:47] liusheng opened #129 "Propose to publish ARM64 binary in releases"
Hi there, I would like to propose to publish `ARM64/aarch64` specific arch binaries in protolock releases.  I have tried to make other projects such as Alluxio running on ARM64 server, because it depend on `protolock` (loaded by `proto-backwards-compat-maven-plugin` maven plugin) while `protolock` does not have ARM64 binary in releases.  I have tried manually compiling `protolock` on my ARM64 serv

[2021-01-26 20:07] nilslice commented on #129
Hi @liusheng - thanks for bringing this to my attention!

I would be happy to cut a new release that includes the additional target. I don't have the free cycles right now to modify & test the builds, but if you need this soon and can help, I'd suggest taking a look at the [`release.sh`](https://github.com/nilslice/protolock/blob/master/release.sh) script. There, you'll likely need to add a new ta

[2021-01-27 02:18] liusheng commented on #129
Hi @nilslice  Thank for quickly reply and support for this proposal.
I have tried compiling protolock on my ARM64 server by simple `go get -u github.com/nilslice/protolock/...`, everything looks OK, the `protolock` binary can be successfully compiled and can executed. According to your above suggestion, I have also tried modifying the `release.sh` by adding a line of `build linux arm64` on a x86 s

[2021-01-27 02:37] nilslice commented on #129
@liusheng that sounds like a good plan, as I don't think Go has support for windows on arm64 yet: https://github.com/golang/go/issues/36439

I will review your PR and cut a release including the new build, then ping you here once it can be downloaded from the release page. It would be helpful if you could test that the binary works after downloaded.

Thanks!

[2021-01-27 02:47] nilslice commented on #129
@liusheng, please find the `arm64` build on the latest release: https://github.com/nilslice/protolock/releases/tag/v0.15.1

If you are able to, confirm that the build works for you. Much appreciated! I will close this issue for now, but please re-open if you have any problems.

[2021-01-27 02:47] #129 closed

[2021-01-27 04:08] liusheng commented on #129
Hi @nilslice , Thank you for so quick release! Yes, I have just confirmed the arm64 binary in newest release on ARM server, everything is OK. thank you.

[2021-01-27 17:13] nilslice commented on #129
Great, thanks again!

[2021-02-18 17:27] nilslice opened #132 "Convert circleci jobs to GitHub Actions"
Both the `protolock` tests and the plugin checks should be fairly straightforward to convert into Actions format.

[2021-07-02 13:33] YaseenAlk opened #133 "oneof structure is not persisted in protolock"
I'd like to add some additional rules for my own use case of protolock. From reading the wiki, it's my understanding that the preferred way to add more rules is to implement them in a plugin, which takes as input a `Protolock` go struct that is built from the output of the proto parser.

One rule I'd like to add is to check if a field becomes part of a `oneof`, or if it is removed from a `oneof`.

[2021-07-13 19:55] YaseenAlk commented on #133
I also noticed that oneof options are not recorded ([options can be written on enum types, enum values, oneof fields, service types, and service methods](https://developers.google.com/protocol-buffers/docs/proto3#options)).

@nilslice If there is anything I can do to help, let me know! Happy to work on a PR, just wasn't sure if this has been previously rejected. Either way I will likely make these

[2021-07-13 20:02] nilslice commented on #133
Hi @YaseenAlk -

Yes, that's right - a plugin is probably the best way to go. Ideally `protolock` itself is only about catching compatibility issues on the most critical & common kinds of API changes. There are some examples in different languages (Go, JS) in the [plugin-sames](https://github.com/nilslice/protolock/tree/master/plugin-samples) dir.

There are a few places where there may be missing

[2021-10-18 02:35] johnfishbein opened #135 "Options not parsed at the Enum level"
Hi,
Recently I've been working on creating a custom protolock plugin specific to my codebase.  My plugin relies on a few custom options I've defined.  Using protolock, custom options defined at the file level and message level are parsed by the tool into the Protolock struct, but options defined inside enums are not parsed by the tool.

The Entry struct contains the Options field which receives al

[2021-11-02 21:35] nilslice commented on #135
Hi @johnfishbein - apologies for the delayed response. It is certainly possible to collect the Enum options, so long as the parser knows how to do so. I believe it should, but you might want to check the API in https://github.com/emicklei/proto. If we need to bump the dependency version to get this support, I would happily accept a PR for that in addition to the feature you need.

Currently, I don

[2022-01-26 04:50] shreyanshp opened #137 "found "stream" but expected [rpc method] for a valid proto"
[code]
returns

[code]

[2022-01-26 04:53] shreyanshp commented on #137
also replicated here
https://protolock.dev/

proto

[code]

![image](https://user-images.githubusercontent.com/21307950/151105991-09eb09e1-c3f3-4753-9a63-a54587effed5.png)

[2022-01-26 16:01] nilslice commented on #137
Hi @shreyanshp - are you expecting something different? Your example is invalid Protobuf as fas as I know. It should be:

[code]

Maybe I am misunderstanding the issue though, please let me know.

[2022-02-24 23:12] fenollp commented on #115
I too am looking for a way to have turn today's JSON lockfile into YAML mainly for quicker diff reviews.
There're talk about potential breaking changes in this thread and I fail to see any given:
* these lockfiles are machine generated so should always have a pretty regular layout / not use "weird" features of either formats
* JSON is a subset of YAML
* https://github.com/ghodss/yaml is a drop-in

[2022-03-02 18:29] nilslice commented on #135
Closed in #138

[2022-03-02 18:29] #135 closed

[2022-03-02 18:44] nilslice commented on #137
Going to close this, as I think it is an error in your proto file - but please re-open if that is not the case. Thanks!

[2022-03-02 18:44] #137 closed

[2022-05-18 16:05] rost5000 opened #143 "Add artefacts to Maven repository"
I wrote a protolint [plugin for gradle](https://github.com/rost5000/ProtolockGradlePlugin ). I want to add feature with automatically downloading executable file without installation in `PATH` environment. (It was in protoc plugin: https://github.com/google/protobuf-gradle-plugin ).

Could you, please, publish artefacts to Maven Repo as it was in [Maven](https://mvnrepository.com/artifact/com.goog

[2022-05-22 07:52] nilslice commented on #143
@rost5000 - that sounds cool, thanks for sharing. I'm not sure how to publish to Maven repo though.. is this something that you could PR as a Github Action? I can convert `protolock`'s CI to Github Action and automate the release (which is long overdue...), but if you know how to do the Maven portion, I'd be grateful for a PR that at least illustrates how it is done.

[2022-05-22 16:24] rost5000 commented on #143
@nilslice, Thank you for replying. I think that the optimal way is publishing to sonar (https://central.sonatype.org/publish/requirements/coordinates/) using Gradle. The following steps are needed:
1. Register to sonar jira and create task to open public artifacts (https://central.sonatype.org/publish/publish-guide/#create-a-ticket-with-sonatype)
2. The gpg keys with tool: https://www.gnupg.org/do

[2022-07-12 06:13] nilslice commented on #143
Thanks for the info, @rost5000 -- I have a few other things on my list with higher priority right now, but will get to this as soon as possible.

[2022-10-17 09:39] max-petrovich opened #144 "Update docker hub image"

[2022-10-17 19:44] nilslice commented on #144
Just pushed a commit to remove it for now, until automated builds, or using some Github packaging step is complete.

[2022-10-17 19:44] #144 closed

[2022-10-19 08:23] max-petrovich commented on #144
May I ask - why did you decide not to support image building in docker hub?

[2022-10-19 13:45] nilslice commented on #144
I did, but Docker changed something and it broke - I don't have time to fix it right now.